# dossier de dev et tests
gifs/
dev/

# dossier où sont stockées les images de simulation
web_app/static/display_simulation/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

#Jupyter notebooks
.ipynb_checkpoints
