#dossier de dev et tests
gifs/
dev/
composetest/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

#Jupyter notebooks
.ipynb_checkpoints
