<!DOCTYPE html>
<html>
    <head>
        <title>NaturalSelection</title>
    </head>
    
    <body>
        <u><h2>Natural Selection Simulation</h2></u>

        <u><h3>Change values</h3></u>

        <form method="GET">
            Variable 1 = 
            <input name="variable_1" value={{ var1 }}>
        </form>
        
        <form method="POST">
            Variable 2 = 
            <input name="variable_2" value={{ var2 }}>
        </form>

        <br />

        <!-- Bouton start & stop simulation -->
        <u><h3>Running Simulation :</h3></u>
        <button id="start">
            Start simulation
        </button>
        <br />
        <button id="stop">
            Stop simulation 
        </button>
     
        <br />
        <br />
        
        <!-- Display image simulation -->
        <img src="" id="display" alt="Simulation not started">
        
        <br />
        
        <!-- Display the demographic evolution of the simulation -->
        <img src="" id="demographic" alt="Simulation not started">

    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        var interval
        
        $("#start").click(function(){
            
            // initialisation simulation
            // WIP : faire un GET pour récuperer les 2 paths d'image
            $.post("/simulation/init",function(data){
                console.log("initialisation simulation");
                var tab_data = JSON.parse(data);
                $("#display").attr("src",tab_data[0]);
                $("#demographic").attr("src",tab_data[1]);
            })

            // iteration simulation
            interval = setInterval(function(){
                // WIP : faire un GET pour récuperer les 2 paths d'image
                $.get("/simulation",function(data){
                    console.log("données chargée: "+data);
                    var tab_data = JSON.parse(data);
                    $("#display").attr("src",tab_data[0]);
                    $("#demographic").attr("src",tab_data[1]);
                })
            },1000);
        })

        // stop simulation
        $("#stop").click(function(){
            console.log("on a appuyé sur un bouton stop");
            clearInterval(interval);
        })
    </script>
    
</html>